html, body {
    height: 100%;
    margin: 0;
  }
  
  .content {
    min-height: calc(100vh - 110px); /* 100vh minus the height of the footer */
    padding-bottom: 20px; /* Optional: adds some space above the footer */
  }
  
  .footer {
    width: 100%;
    height: 110px;
    background-color: #333333;
    color: white;
    text-align: center;
  }
  
  p {
    display: inline-block;
    margin-left: 80px;
  }
  
  .li {
    width: 20px;
    height: 20px;
  }
  
  .email {
    width: 30px;
    height: 20px;
  }
  
  .phone {
    width: 20px;
    height: 20px;
  }
  
  .zoom:hover {
    transform: scale(2);
    cursor: pointer;
  }
  
  h1:hover {
    cursor: default;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  