<div class="footer">
    <h1>Gino J Aiello Landscape Architect</h1>
    <p class="zoom"><a href="https://www.linkedin.com/in/gino-j-aiello-1b642141/" target="_blank"><img class="li" src="../../assets/images/linkedin.png">LinkedIn</a></p>
    <p class="zoom"><a href="#" routerLink="/contact" routerLinkActive="active"><img class="email" src="../../assets/images/email.png">Email</a></p>
    <p class="zoom"><a href="#" routerLink="/contact" routerLinkActive="active"><img class="phone" src="../../assets/images/phone.png">Phone</a></p>
</div>
