<div class="top">
<div class="content">
<p>Gino J. Aiello Full Member of:</p>
<p>OALA, Ontario Association of Landscape Architects;</p>
<p>APALA, Atlantic Provinces Association of Landscape Architects;</p>
<p>AAPQ, Association des architectes paysagistes du Québec;</p>
<p>CSLA Canadian Society of Landscape Architects & CLARB Certified.
Operating as a sole proprietorship from 1997 to 2020, Gino J. Aiello
landscape architect (GJALA) has transitioned to GJA Inc.


Education
Bachelor of Landscape Architecture • University of Guelph • 1991.

Professional Associations
Full Member Ontario Association of Landscape Architects Since 1995
Full Member Atlantic Provinces Association of Landscape Architects Since 2015
Full Member Association des architectes paysagistes du Quebec Since 2010
<p>Member Canadian Society of Landscape Architects, Since 1995</p>
</div>
</div>