<div class="top">
  <img src="../../assets/images/img1.jpg" alt="GJAproject" class="topImg">
</div>
<div class="description">
  <img src="../../assets/images/gino2.jpg" alt="Gino Aiello" class="image">
  <div class="moveLeft">
    <h1>Gino J. Aiello</h1>
    <h2>Landscape Architect</h2>
    <p>Gino specializes in site and landscape planning (Planimetria) which enhances outdoor space while streamlining maintenance. </p>
  </div>
</div>
<div class="bottom">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <main>
    <a routerLink="/projects">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="Commercial">
        <div class="card-content">
          <h2>Commercial</h2>
          <p>Click here to see Gino's commercial projects!</p>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
    </a>

    <a routerLink="/projects">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="Industrial">
        <div class="card-content">
          <h2>Industrial</h2>
          <p>Click here to see Gino's Industrial projects!</p>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
    </a>

    <a routerLink="/projects">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="Retail">
        <div class="card-content">
          <h2>Retail</h2>
          <p>Click here to see Gino's Retail projects!</p>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
    </a>
  </main>
</div>
