<div class="top">
  <img src="../../assets/images/img1.jpg" alt="GJAproject" class="topImg">
</div>
<div class="description">
  <img src="../../assets/images/gino.jpg" alt="Gino Aiello" class="image">
  <h1>Gino J. Aiello</h1>
  <h2>Landscape Architect</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
    galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
    electronic typesetting, remaining essentially unchanged.
    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
<div class="bottom">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <main>
    <a routerLink="/projects">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="Commercial">
        <div class="card-content">
          <h2>Commercial</h2>
          <p>Blurb about commercial work</p>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
    </a>

    <a routerLink="/projects">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="Industrial">
        <div class="card-content">
          <h2>Industrial</h2>
          <p>Blurb about industrial work</p>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
    </a>

    <a routerLink="/projects">
      <div class="card">
        <img src="https://images.unsplash.com/photo-1656618020911-1c7a937175fd?crop=entropy&cs=tinysrgb&fm=jpg&ixid=MnwzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2NTc1MzQyNTE&ixlib=rb-1.2.1&q=80" alt="Retail">
        <div class="card-content">
          <h2>Retail</h2>
          <p>Blurb about retail work</p>
          <span class="material-symbols-outlined">arrow_right_alt</span>
        </div>
      </div>
    </a>
  </main>
</div>
