.navbar {
    background-color: #343a40; /* Dark grey color */
  }
  
  .navbar-nav {
    margin-left: auto; /* Pushes the nav items to the right */
  }
  
  .nav-link {
    color: white; /* Text color */
  }

  ul {
    list-style-type: none;
  }