<nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div class="d-flex justify-content-end">
        <ul class="navbar-nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>