<header>
  <div class="container">
    <img class="logo" src="../../assets/images/nav2.png"><img/>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a href="#" routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>