<header>
  <div class="container">
    <img class="logo" src="../../assets/images/white.jpg"><img/>
    <nav>
      <ul>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a href="#" routerLink="/home" routerLinkActive="active">About</a></li>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Services</a></li>
        <li><a href="#" routerLink="/home" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>